*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins";
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

header{
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0 20% 0 100px;
    height: 130px;
}

nav{
    display: flex;
    width: 720px;
    justify-content: space-between;
    margin-left: 730px;
    min-width: 550px;
}

nav a{
    color: #000;
    text-decoration: none;
    font-weight: 400px;
    font-size: 15px;
}


.logo{
    font-family: "PP Eiko";
    font-weight: 500;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
}

.container{
    display: flex;
}

.left{
    flex: 1;
    height: 100vh;
    background-image: url(https://i.postimg.cc/mDrYb38V/valdemaras-d-Nx2-FTJf-KX68-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.right{
    flex: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right h1{
    color: #FA5800;
    font-family: "PP Eiko";
    font-size: 80px;
    font-weight: 800;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.right p{
    max-width: 500px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
}

.right img{
    position: absolute;
    top: 18vh;
    left: 70px;
}

.content-wrapper{
    position: absolute;
    top: 21vh;
    left: -100px;
}

.article-wrapper{
    margin-left: 200px;
    padding-right: 120px;
}

